.box {
    width: 100%;
    position: relative;
}

.structure-title {
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    color: $secondary-dark-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4;
    text-align: left;
    margin-left: 40px;
    margin-top: 7px;
}

.structure-title::before {
    display: inline-block;
    height: 30px;
    width: 30px;
    content: "";
    background: url(../images/structure-section/title-icon-mobile.png) no-repeat;
    background-size: contain;
    background-position: 50%;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 0;
}

.components {
    list-style: none;
}

.components__list {
    position: relative;
    box-shadow: 1.5px 2.598px 8px 0px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 260px;
    border-radius: 0 29px 0 29px;
    margin-bottom: 14px;
}

.components__info {
    position: absolute;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-radius: 0 29px 0 29px;
    width: 242px;
    height: 223px;
    top: 18px;
    left: 18px;
}

.components__name {
    font-size: 25px;
    font-family: $secondary-font-stack;
    color: $secondary-dark-color;
    font-weight: bold;
    line-height: 1.08;
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 19px;
}

.components__program {
    font-size: 16px;
    font-family: $main-font-stack;
    color: $primery-dark-color;
    line-height: 1.375;
}

.components__list--tech {
    background-color: #faebd0;
}

.components__program--tech {
    padding: 0 18px 0 25px;
}

.components__list--tech:hover {
    background-color: #fcf1de;
}

.components__list--soft {
    background-color: #ffddd3;
}

.components__program--soft {
    padding: 0 18px 0 25px;
}

.components__list--soft:hover {
    background-color: #fce7e0;
}

.components__list--it {
    background-color: #e7d9f6;
}

.components__program--it {
    padding: 0 18px 0 25px;
}

.components__list--it:hover {
    background-color: #ebe4f8;
}

.components__list--hack {
    background-color: #baebe9;
}

.components__program--hack {
    padding: 0 25px 0 25px;
}

.components__list--hack:hover {
    background-color: #d9f0ef;
}

@media(min-width:768px) {
    .box {
        min-width: 620px;
    }
    .structure-title {
        font-size: 33px;
        line-height: 22px;
        margin-left: 50px;
        margin-top: 35px;
        letter-spacing: -0.5;
        margin-bottom: 70px;
    }
    .structure-title::before {
        background: url(../images/structure-section/title-icon-tablet.png) no-repeat;
        top: -4px;
        left: 0;
    }
    .components {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 70px;
    }
    .components__list {
        width: 290px;
        height: 293px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .components__info {
        width: 260px;
        height: 257px;
        top: 18px;
        left: 15px;
    }
    .components__name {
        font-size: 30px;
        line-height: 1.2;
        text-align: left;
        margin-top: 44px;
        margin-left: 24px;
        margin-bottom: 20px;
    }
    .components__program {
        font-size: 16px;
        line-height: 22px;
    }
}

@media(min-width:1298px) {
    .box {
        min-width: 1298px;
    }
    .structure-title {
        font-size: 33px;
        line-height: 22px;
        margin-top: 118px;
        letter-spacing: -0.5;
    }
    .components__list {
        width: 294px;
        height: 293px;
        margin-right: 30px;
    }
    .components__info {
        width: 264px;
        height: 266px;
        top: 14px;
        left: 15px;
    }
    .components__program {
        font-size: 18px;
        line-height: 28px;
    }
}