.wrapper {
    width: 100%;
    max-width: 190px;
    margin: 0 auto;
}

.contact {
    background-color: #1c1c1c;
    height: 473px;
    font-size: 14px;
    font-family: $main-font-stack;
    color: #969aa8;
    line-height: 1.786;
    padding-top: 42px;
    letter-spacing: 0.5px;
}

.list {
    list-style: none;
}

.contact__location {
    margin-top: 3px;
    margin-bottom: 17px;
}

.contact__call-info {
    margin-bottom: 28px;
}

.contact__link {
    font-size: 14px;
    font-family: $main-font-stack;
    color: #969aa8;
    line-height: 1.786;
    text-decoration: none;
    display: block;
    letter-spacing: 0.5px;
}

.contact__btn {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fcae26;
    box-shadow: 0px 3px 5px 0px rgba(252, 174, 38, 0.4);
    width: 192px;
    height: 42px;
    border: none;
    font-size: 16px;
    font-family: 'OpenSans-Bold';
    color: #f6f9fa;
    line-height: 41.5px;
    margin-bottom: 33px;
}

.contact__btn:hover {
    background-color: #f39313;
}

.contact__socials {
    display: flex;
}

.contact__list {
    margin-right: 18px;
}

.contact__list:nth-child(3) {
    margin-right: 0;
}

.add-info {
    background-color: #0d0d0d;
    line-height: 2.083;
    text-align: left;
    padding: 4px 0;
    height: 101px;
}

.add-info__list {
    padding-top: 14px;
}

.add-info__link {
    font-size: 12px;
    font-family: 'OpenSans-SemiBold';
    color: #626263;
    text-decoration: none;
    display: block;
    margin-bottom: -3px;
    letter-spacing: 0.4px;
}

.toTop {
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #333 url(../images/footer/arrowUp.png) no-repeat center;
    background-size: 14px;
    box-shadow: 0px 7px 12px 0px rgba(51, 51, 51, 0.5);
    display: none;
}

@media (min-width: 768px) {
    .wrapper {
        min-width: 690px;
        padding: 0 34px;
    }
    .contact {
        padding-top: 53px;
        height: 250px;
    }
    .main-info {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .contact__location {
        padding-top: 0px;
    }
    .contact__call-info {
        margin-top: 3px;
    }
    .form {
        padding-top: 13px;
    }
    .contact__btn {
        margin-bottom: 23px;
    }
    .contact__socials {
        margin-left: 22px;
    }
    .add-info {
        height: 50px;
        padding-top: 13px;
    }
    .add-info__list {
        display: flex;
    }
    .add-info__component {
        margin-right: 40px;
    }
    .toTop {
        display: block;
        bottom: 50px;
        right: 50px;
    }
}

@media (min-width: 1298px) {
    .wrapper {
        min-width: 1298px;
        padding-right: 117px;
    }
    .contact {
        height: 260px;
        padding-top: 56px;
    }
    .contact__call-info {
        margin-left: -12px;
    }
    .form {
        display: flex;
        justify-content: space-between;
        min-width: 518px;
        margin-top: -4px;
    }
    .contact__btn {
        margin-left: 4px;
    }
    .contact__list {
        margin-right: 22px;
    }
    .add-info {
        padding-top: 10px;
        margin: auto;
    }
    .add-info__component {
        margin-right: 76px;
    }
    .add-info__component:nth-child(3) {
        margin-right: 0;
    }
    .toTop {
        display: block;
        top: 40px;
        right: 40px;
    }
}