.container {
    // min-width: 280px;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.baner {
    background-image: url(../images/header/imgmob.jpg);
    background-position: center;
    background-repeat: no-repeat;
        min-height: 100vh;
    background-size: cover;
    background-color: transparent;
    transition: .2s all linear;
    margin-top: -1px;
}
.baner.open-menu{
    // background-image: none;
    // background-color: #824fe3;
}
.baner.open-menu .text {
    opacity: 0;
}
.page-logo{
    // padding-left: 20px;
}
.go-it_logo {
    width: 100px;
    height: 25px;
    position: relative;
    z-index: 5;
}
.navigation{
    padding: 15px 20px 0 20px;;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // position: fixed;
}
.scroll-fixed {
    position: fixed;
    z-index: 6;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    
}
.scroll-fixed-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // transition: .2s all linear;
}
.scroll-fixed .scroll-fixed-wraper{
    background-color: #fff;
    padding: 15px 20px;
    
    
}
.scroll-fixed .hamburger .line{
    background-color: black;
}
.scroll-fixed + .text .mission{
padding-top: 333px;
}
.navigation-menu {
    // display: none;
    position: absolute;
    // right: calc(-100% - 20px);
    left: 0;
    transition: .2s transform linear;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #824fe3;
    z-index: 3;
    transform: scale(0);


    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #824fe3;
        left: 0;
        width: 100%;
        height: 50vh;
    }
    
    &::before {
        bottom: 100%;

    }
    &::after{
        top: 100%;
    }
}
.navigation-menu.open-menu{
    // right: 0;
    transform: scale(1);
}
.text{
    // display: none;
}
.navigation-menu__item {
    list-style: none;

}
.navigation-menu__link {
    text-decoration: none;
    font-family: $secondary-font-stack;
    font-size: 25px;
    line-height: 60px;
    color: white;
    position: relative;
    padding-bottom: 5px;
}
.navigation-menu__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $base-section-color;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0px;
}
.navigation-menu__item:hover .navigation-menu__link::after, .navigation-menu__item:focus .navigation-menu__link::after {
opacity: 1;
}
.form {
    font-family: 'OpenSans-Bold';
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 172, 56);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    width: 192px;
    height: 42px;
    margin-top: 15px;
  
}
.form:hover, .form:focus {
    background-color: #dc9129;
}

.mission{
    padding-top: 262px;
    padding-bottom: 13px;
    font-family: 'OpenSans-ExtraBold';
    font-weight: 800;
    font-size: 35px;
    line-height: 59.27px;
    color: white;
    text-align: center;
}
.task{
    font-family: 'Ubuntu-Regular';
    font-size: 16px;
    line-height: 22px;
    color: white;
    text-align: center;
    background-color: rgb(22, 24, 32);
    opacity: 0.678;
    width: 280px;
    height: 55px;
    margin: 0 auto 58px;
    letter-spacing: 1px;
    // &::after {
    //     content:("");
    //     background: url(../images/header/ScrollDown.png);
    //     width: 13px;
    //     height: 18px;
    //     position: absolute;
    //     left: 132px;
    //     top: 76px;
    // }
}    
.scroll-on-page {
    display: block;
    margin: 0 auto;
    background: url(../images/header/ScrollDown.png);
    width: 13px;
    height: 18px;
}
.color--orange{
    font-family: $secondary-font-stack;
    color: $base-section-color;
}
// H A M B U R G E R 
.hamburger {
  background: none;
  border: none;
  outline: none;
  position: relative;
    z-index: 4;
}
.hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:not(:last-child) {
    margin-bottom: 5px;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3){
  transform: translateY(-5px) rotate(-45deg);
}
// M E D I A 

@media (min-width: 321px) {
    .baner {
    background-image: url(../images/header/imgtabl.jpg);
    }
}
@media (min-width: 768px) {

    .go-it_logo {
    width: 140px;
    height: 40px;
    }
    .baner {    
    height: 600px;
    }
    .navigation {
        // padding: 26px 40px 0 40px;
        padding: 0;
    }
    .navigation.scroll-fixed .navigation{
        padding: 0;
    }
    .scroll-fixed-wraper{
        padding: 26px 40px 0 40px;
    }
    .scroll-fixed .scroll-fixed-wraper{
    padding: 15px 40px;
    }
    .mission {
    padding-top: 308px;
    font-size: 46px;
    padding-bottom: 16px;
    }
    .scroll-fixed + .text .mission{
    padding-top: 380px;
    }
    

    .task{
    font-size: 27px;
    line-height: 32px;
    width: 445px;
    height: 65px;
    &::after {
        left: 215px;
        top: 95px;
    }
    
}

@media (min-width: 769px) {
    .baner {
    background-image: url(../images/header/imgdesc.jpg);
    }
}
@media (min-width: 1298px) {
    .baner {
        height: 967px;
    }
    .hamburger{
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 0;
    }
    .navigation.scroll-fixed .navigation-menu__link {
        color: black;
    }
    .navigation.scroll-fixed .navigation{
        padding: 0;
    }
    .scroll-fixed-wraper{
        padding: 26px 40px 0 40px;
    }
    .scroll-fixed .scroll-fixed-wraper{
    padding: 15px 40px;
    }


    .scroll-fixed + .text .mission{
    padding-top: 650px;
    }

    .navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transform: scale(1);
    right: 2%;
    left: unset;
    &::before, &::after {
        background-color: transparent;
        
    }
    }
    .navigation-menu__link {
    font-size: 18px;
    // color: black;
    }

    .mission {
    padding-top: 585px;
    text-align: left;
    font-size: 65px;
    padding-bottom: 62px;
    }

    .task {
    margin: 0px 0 25px 67px;
    text-align: left;
    &::before {
        content: "";
        display: block;
        width: 2px;
        height: 63px;
        color: $base-section-color;
        position: absolute;
        left: 3%;
        z-index: 2;
    }

    }
    }
}
main {
  min-height: 100vh;
}