.container {
    min-width: 280px;
    margin: 0 auto;
    padding: 0 20px;
}

.baner {
    background-image: url(../images/header/imgmob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    // background-color: #824fe3;
    height: 560px;
}
.go-it_logo {
    width: 100px;
    height: 25px;
}
.navigation{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
}
.navigation-menu {
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.text{
    // display: none;
}
.navigation-menu__item {
    list-style: none;

}
.navigation-menu__link {
    text-decoration: none;
    font-family: $secondary-font-stack;
    font-size: 25px;
    line-height: 59.27px;
    color: white;
}
.navigation-menu__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $base-section-color;
    opacity: 0;
}
.navigation-menu__item:hover .navigation-menu__link::after, .navigation-menu__item:focus .navigation-menu__link::after {
opacity: 1;
}
.form {
    font-family: 'OpenSans-Bold';
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 172, 56);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    width: 192px;
    height: 42px;
    margin-top: 15px;
  
}
.form:hover, .form:focus {
    background-color: #dc9129;
}

.mission{
    padding-top: 305px;
    padding-bottom: 13px;
    font-family: 'OpenSans-ExtraBold';
    font-weight: 800;
    font-size: 35px;
    line-height: 59.27px;
    color: white;
    text-align: center;
}
.task{
    position: relative;
    font-family: 'Ubuntu-Regular';
    font-size: 16px;
    line-height: 22px;
    color: white;
    text-align: center;
    background-color: rgb(22, 24, 32);
    opacity: 0.678;
    width: 280px;
    height: 55px;
    margin: 0 auto;
    letter-spacing: 1px;
    &::after {
        content:("");
        background: url(../images/header/ScrollDown.png);
        width: 13px;
        height: 18px;
        position: absolute;
        left: 132px;
        top: 76px;
    }
}    
.color--orange{
    font-family: $secondary-font-stack;
    color: $base-section-color;
}
// H A M B U R G E R 
.hamburger {
  background: none;
  border: none;
  outline: none;
}
.hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:not(:last-child) {
    margin-bottom: 5px;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3){
  transform: translateY(-5px) rotate(-45deg);
}
// M E D I A 

@media (min-width: 321px) {
    .baner {
    background-image: url(../images/header/imgtabl.jpg);
    }
}
@media (min-width: 768px) {
    .container {
    min-width: 768px;
    margin: 0 auto;
    padding: 0 40px;
    }

    .go-it_logo {
    width: 140px;
    height: 40px;
    }
    .baner {    
    height: 600px;
    }
    .navigation {
        padding-top: 26px;
    }
    .mission {
    padding-top: 377px;
    font-size: 46px;
    padding-bottom: 16px;
    }

    .task{
    font-size: 27px;
    line-height: 32px;
    width: 445px;
    height: 65px;
    &::after {
        left: 215px;
        top: 95px;
    }
    
}

@media (min-width: 769px) {
    .baner {
    background-image: url(../images/header/imgdesc.jpg);
    }
}
@media (min-width: 1298px) {
    .container {
        min-width: 1298px;
        padding: 0 50px;
    }
    .baner {
        height: 967px;
    }
    .hamburger{
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 12px;
    }

    .navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    margin: 0;
    padding: 0;
    }
    .navigation-menu__link {
    font-size: 18px;
    }
    .mission {
    text-align: left;
    padding-top: 670px;
    }
    .task {

    }
    }
}