// FONTS
$main-font-stack: 'Ubuntu-Regular',
sans-serif;
$secondary-font-stack: 'Ubuntu-Bold',
sans-serif;
// COLORS
$primary-white-color: #ffffff;
$primery-dark-color:#444444;
$secondary-dark-color:#222;
$base-section-color:#fcae26;
//TEXT
$base-fz: 18px;